<configuration>
    <connectionStrings>
        <add name="ConnectionString"
             connectionString="Server=(localdb)\localDB1;Database=HotelDB;Integrated Security=True;TrustServerCertificate=true"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
